<phpunit bootstrap="./application/bootstrap.php" colors="true">         
    <testsuite name="ZF-Skeleton">
        <directory>./application</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">../application/</directory>
            <exclude>
                <file>../application/Bootstrap.php</file>
                <file>./application/bootstrap.php</file>
                <directory>../application/configs</directory>
                <directory suffix=".phtml">../application</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./log/report" charset="UTF-8"
             yui="true" highlight="true" lowUpperBound="50" highLowerBound="80"/>
        <log type="testdox-html" target="./log/testdox.html" />
    </logging>
</phpunit>